<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]nicolonsky tools</title>
    <!-- inside <head> -->
    <link rel="stylesheet" href="~/vendor.min.css" />
    <style>
        .nav-item a {
            color: white !important;
            cursor: pointer;
        }
            .nav-item a:hover {
                color: white !important;
                cursor: pointer;
            }
    </style>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108122616-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-108122616-3', { 'anonymize_ip': true });
    </script>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark fixed-top bg-dark">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"></button>
            <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">nicolonsky tools</a>

            <div class="navbar-collapse collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item"><a href="/" class="nav-link">home</a></li>
                    <li class="nav-item"><a asp-area="" asp-controller="DriveMapping" asp-action="" class="nav-link">intune-drive-mapping-generator</a></li>
                </ul>
            </div>
        </div>
</nav>
    <div class="container body-content pt-5">
        <br />
        <br />
        @RenderBody()
        <footer class="pt-4">
            <hr />
            <p>&copy; 2019 - nicolonsky tech.</p>
        </footer>
    </div>
    <script src="~/vendor.min.js"></script>
</body>
</html>
