<!DOCTYPE html>
<html lang="en">>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="Description" content="Intune network drive mapping script generator which coverts group policy preferences to an Intune ready PowerShell script">
    <title>Intune Drive Mapping Generator</title>
    <!-- inside <head> -->
    <link rel="stylesheet" href="~/vendor.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
          integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
          crossorigin="anonymous">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108122616-3"></script>
    <script src="~/vendor.min.js"></script>
    <script src="~/js/site.min.js"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-108122616-3', { 'anonymize_ip': true });
    </script>
</head>
    <body>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark mb-5">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Intune Drive Mapping Generator</a>

                <div class="navbar-collapse collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav mr-auto">
                        <li class="nav-item"><a asp-area="" asp-controller="DriveMapping" asp-action="" class="nav-link">Generator</a></li>
                    </ul>
                    <ul class="navbar-nav justify-content-end">
                        <li class="nav-item">
                            <a href="https://github.com/nicolonsky/IntuneDriveMapping/wiki" target="_blank" class="nav-link" rel="noreferrer">
                                <i class="fas fa-book"></i>
                                <span>Documentation</span>
                            </a>
                        </li>
                    </ul>
                </div>

                
            </div>
        </nav>
        <main role="main" class="container pt-5 pb-5">
            @RenderBody()
        </main>
        <footer class="footer fixed-bottom py-2" style="background-color:#f5f5f5">
            <div class="container">
                <span class="">Version: <span class="badge badge-secondary">@typeof(IntuneDriveMapping.Program).Assembly.GetName().Version</span></span>
                <span class="float-right">Presented by <a href="https://tech.nicolonsky.ch/" rel="noreferrer" target="_blank">Nicola Suter</a></span>
            </div>
        </footer>
    </body>
</html>
