@{
    ViewData["Title"] = "Start";
}



<h1>Hoi</h1>
<p> Find this project on GitHub </P>

<a href="https://github.com/nicolonsky/IntuneDriveMapping"><img border="0" alt="W3Schools" src="https://github.githubassets.com/images/modules/logos_page/Octocat.png" width="10%"> </a>

