<div class="jumbotron mt-5">
    <h1>Intune Drive Mapping Generator</h1>
    <p class="lead">Generate Intune ready PowerShell scripts to map file shares on Windows 10 clients.  Without scripting effort.</p>

    <ol>
        <li value="0">
            <p>(Optional) Export your existing group policy configuration which contains the network drive configuration to an xml file</p>
        </li>
        <li>
            <p>Upload the configuration or generate a new one from scratch in the <a href="/DriveMapping">intune-drive-mapping-generator</a></p>
        </li>
        <li><p>Download your generated PowerShell script</p></li>
        <li>
            <p>Deploy the PowerShell script with Microsoft Intune</p>
        </li>
    </ol>
    <br />
    <a href="https://github.com/nicolonsky/IntuneDriveMapping" target="_blank" class="btn btn-dark btn-large">
        <i class="fab fa-github"></i>
        <span>View this project on GitHub</span>
    </a>
</div>




