@{
    ViewData["Title"] = "Start";
}

<br />
<h1>Welkom, Velkomin, Wilkommen, Hellou</h1>
<h4>This is nicolonsy tech's tool page</h4>
<br />
<p>Find this project on GitHub</p>
<a href="https://github.com/nicolonsky/IntuneDriveMapping"><img border="0" alt="W3Schools" src="https://github.githubassets.com/images/modules/logos_page/Octocat.png" width="10%"> </a>




