@{
    ViewData["Title"] = "";
}
<h1 class="display-3">Intune drive mapping generator</h1>
<p class="lead">Convert your existing network drive group policy to PowerShell and use it with Microsoft Intune. <br />
    Or build one from scratch. Simple. Without scripting effort.
</p>
<br />
<ol>
    <li value="0">
        <p>(Optional) Export your existing group policy configuration which contains the network drive configuration to an xml file</p>
    </li>
    <li>
        <p>Upload the configuration or generate a new one from scratch in the <a href="/DriveMapping">intune-drive-mapping-generator</a></p>
    </li>
    <li><p>Download your generated PowerShell script</p></li>
    <li>
        <p>Deploy the PowerShell script with Microsoft Intune</p>
    </li>
</ol>
<br />
<br />
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="card m-1 h-100">
                <div class="card-body">
                    <h5 class="card-title">Off to new paths.</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Despite not being a developer</h6>
                    <p class="card-text">This is nicolonsy tech's first tool - so please be generous with my non existing developer skills</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card m-1 h-100" >
                <div class="card-body">
                    <h5 class="card-title">I &#10084; open source.</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Because community achieves more</h6>
                    <p class="card-text">That's the reason why this app is built on asp net core and you find it on GitHub.</p>
                    <a href="https://github.com/nicolonsky/IntuneDriveMapping" class="card-link">GitHub repository</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card m-1 h-100">
                <div class="card-body">
                    <h5 class="card-title">I'm a wannabe blogger.</h5>
                    <h6 class="card-subtitle mb-2 text-muted">And doing it regularly</h6>
                    <p class="card-text">I'm blogging about the modern workplace with focus on EM+S</p>
                    <a href="https://tech.nicolonsky.ch" class="card-link">Give my techblog a read</a>
                </div>
            </div>
        </div>
    </div>
</div>