@{
    ViewData["Title"] = "Start";
}

<br />
<h1>Welkom, Velkomin, Wilkommen, Welcome, Välkommen</h1>
<br />
<p class="lead">Convert your existing Group Policy network drive mapping policy to a PowerShell script which can be used with Microsoft Intune.</p>


<div class="container-fluid">
    <div class="w-100"></div>

    <div class="row">
        <div class="col-md-3">
            <h4>new paths</h4>
            <p>this is nicolonsy tech's first tool - so please be generous with my non existent developer skills</p>

        </div>
        <div class="col-md-3">
            <h4>i like open source &#10084;.</h4>
            <p>that's the reason why this app relies on asp net core mvc and you can <a href="https://github.com/nicolonsky/IntuneDriveMapping">find this project on GitHub</a></p>

        </div>
        <div class="col-md-3">
            <h4>i'm a blogger tho</h4>
            <p>so better give my techblog a read. i blog about the modern workplace with focus on EMS</p>
        </div>
    </div>

</div>







