@model IntuneDriveMapping.Models.AadAppRegistration

@{
    ViewData["Title"] = "CreateAzureAppRegistration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CreateAzureAppRegistration</h2>

<h4>AadAppRegistration</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AzureAppRegistration">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TenantId" class="control-label"></label>
                <input asp-for="TenantId" class="form-control" />
                <span asp-validation-for="TenantId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClientId" class="control-label"></label>
                <input asp-for="ClientId" class="form-control" />
                <span asp-validation-for="ClientId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClientSecret" class="control-label"></label>
                <input asp-for="ClientSecret" class="form-control" />
                <span asp-validation-for="ClientSecret" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

